<div class="light-grey-background wrapper">
  <h2 class="text-center">Keep it real!</h2>
  <p class="text-center">Find a cool event near you or post yours!</p>
  <p class="text-center">Meet new people</p>
  <div class="text-center">
    <%= link_to "Quickly add your event", new_event_path, class: "btn navbar-wagon-button"%>
  </div>
</div>

<div class="light-grey-background wrapper">
  <div class="container">
    <div class="row">
       <% @events.each do |e| %>
      <div class="col-xs-12 col-sm-6 col-lg-4">
        <%= render "card", event: e %>
      </div>
       <% end %>
    </div>
  </div>
</div>

<div id="map" style="width: 100%; height: 600px;"></div>

<% content_for(:after_js) do %>
  <script>
    var handler = Gmaps.build('Google');
    handler.buildMap({ internal: { id: 'map' } }, function() {
      markers = handler.addMarkers(<%= raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      if (markers.length == 0) {
        handler.getMap().setZoom(2);
      } else if (markers.length == 1) {
        handler.getMap().setZoom(14);
      }
    });
  </script>
<% end %>


