<div class="wrapper">
  <h2 class="text-center">Keep it real!</h2>
  <p class="text-center">Find a cool event or post yours!</p>
  <p class="text-center">Meet new people</p>
  <div class="text-center">
    <%= link_to "Quickly add your event", new_event_path, class: "btn btn-success"%>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @events.each do |e| %>
      <div class="col-xs-12 col-sm-4">
        <%= render "card", event: e %>
      </div>
    <% end %>
  </div>
</div>
