<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('/../../assets/images/party.jpg');">
  <div class="banner-content">
    <h1>Keep it real!</h1>
    <p>Find a cool event near you or post yours!</p>
    <a class="btn btn-primary btn-lg">Meet New People</a>
  </div>
</div>
<div class="light-grey-background wrapper">
  <div class="container">
    <div class="row">
       <% @events.each do |e| %>
      <div class="col-xs-12 col-sm-6 col-lg-4">
        <%= render "shared/card", event: e %>
      </div>
    <% end %>
    </div>
  </div>
</div>
