.image-center-col {
  text-align: center;
  padding: 20px 0 20px 0;
}

.cell-bg {
  background-color: #eae8e8;
  // box-shadow: 0 1 1 0;
  border: solid 1px;
  border-color: #bfbbbb;
  border-radius: 2px;
}
