.dash-bg {
  background-color: black;
  color: #e5dede !important;
}
.image-center-col {
  text-align: center;
  padding: 20px 0 20px 0;
}

.cell-bg {
  background-color: #514f4f;
  // box-shadow: 0 1 1 0;
  border: solid 1px;
  border-color: #726f6f;
  border-radius: 2px;
}
